.reeding_house{
  background: url("../img/reeding_house.jpg");
  background-size: cover;
  min-height: 600px;
  p{
    &:first-of-type{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 0;
      color: $secondary;
    }
    &:last-of-type{
      line-height: 24px;
      color: $grey;
    }
  }

  @include max-screen(992px){
    background-position: -650px;
  }

  .row{
    min-height: 600px;
  }

  p{
    max-width: 285px;
  }

  &.marble_staircase{
    background: url("../img/marble_staircase.jpg");
  }

  &.swirling_staircase{
    background: url("../img/swirling_staircase.jpg");
  }


}