@import "vars";
@import "mixins";
@import "header";
@import "main_banner";
@import "our_firm";
@import "reeding_house";
@import "our_process";
@import "prior_clients";
@import "featured_projects";
@import "our_team";
@import "get_in_touch";
@import "footer";

html {
  overflow-x: hidden; }

body{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}













